/node_modules/
**/*.svg
package.json
.gitignore
.npmignore
.prettierignore
.DS_Store
.editorconfig
.eslintignore
**/*.yml
.*.js
*.config.js
*.config.ts
.eslintrc.cjs

/plugins
/public
/test
/Build
/dist
