.sidebarright {
  position: fixed;
  top: 10rem;
  right: 50px;
  z-index: 10;
  width: 200px;
  height: 60vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    width: 0;
  }
}

.sidebar-item {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 0.35rem 1rem 0.35rem 0;
  border-left: 2px solid rgba(90, 90, 90, 0.3);
  box-sizing: border-box;
  a {
    font-weight: inherit;
    color: var(--c-text);
  }
  &:hover {
    a {
      color: var(--c-text-accent);
    }
    border-left: 2px solid var(--c-text-accent);
  }
}
.active {
  a {
    color: var(--c-text-accent);
  }
  border-left: 2px solid var(--c-text-accent);
}

.level-2 {
  padding-left: 0.9rem;
  font-size: 14px;
  font-weight: 700;
}

.level-3 {
  padding-left: 2rem;
  font-size: 12px;
}

.level-4 {
  padding-left: 3rem;
  font-size: 12px;
}
