.toggletheme {
  cursor: pointer;
  opacity: 1;
  width: 2.2rem;
  height: 2.2rem;
  line-height: 2.2rem;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgb(0 0 0 / 15%);
  margin-top: 0.9rem;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  background: var(--backToTopBgColor, #fff);
  &:hover {
    color: #fff;
    background: #11a8cd;
    box-shadow: 0 0 10px #11a8cd;
  }
}
